.copyright {
    padding-bottom: 24px;
}

.text {
    text-align: center;
    font-size: 12px;
    color: var(--textColor2);
    font-weight: 700;
}

.text a {
    color: var(--strtextColor);
    transition: color .2s;
}

.text a:hover {
    color: var(--strtextColor);
}