.copyright {
    padding-top: 10px;
    padding-bottom: 16px;
}

.text {
    text-align: center;
    font-size: 12px;
    color: var(--textColor2);
    font-weight: 700;
    letter-spacing: 0.04em;
}

.text a {
    color: var(--strtextColor);
    transition: color .2s;
}

.text a:hover {
    color: var(--strtextColor);
}